* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
  /* background-image: url("https://files.oyebesmartest.com/public/img-subcategory/cb-background-qoRpk.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100vh;

}
.form-inner{
  
  border:3px solid black;
  width:300px;
  height:200px;
  margin-top: 220px;
  margin-right: 100px;
  margin-left: 500px;
  border-radius: 10px;;
  /* background-color: blanchedalmond; */

 

}
.form-group{
  margin-top:20px;
  font-size: 20px;
  
}
.login{
  margin-top:10px;
  width:50px;

}
.login:hover{
 cursor:pointer;
 background-color:yellow;
 
}
.hii{
  margin-top: 20px;;
  margin-left: 550px;
  font-size: 40px;
  /* box-shadow: 10px 10px 10px 10px black; */
}
.animated-typing{
  margin-left: 530px;
  margin-top:200px;
  font-size:30px;
  
}
.logout{
  margin-left: 600px;
  margin-top:100px;
  width:100px;
  height:50px;
  font-size:25px;


}
.logout:hover{
  background-color:yellow;
  cursor: pointer;

}




